/node_modules
/public/hot
/public/storage
/public/js/components/
/storage/*.key
/vendor
.docker/.mysql
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

