
:root {
    --primary-color-linear: radial-gradient(circle, #163a3b 0%, #1d4d4f 52%, #0e2728 100%);
    --primary-color-nonlinear: #1d4d4f;
    --primary-color-darker: #163a3b;
    --primary-color-lighter: #27787c;

    --danger-color: #ec3737;
}