
.btn-primary {
  background-color: var(--primary-color-nonlinear);
  border-color: transparent;
  border-radius: 2.5px;
  color: white;
  padding: 6px 20px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: var(--primary-color-lighter) !important;
  border-color: transparent !important;
  color: white;
  opacity: 0.9;
}

.btn-primary:focus {
  box-shadow: 0 0 0 1.5px var(--primary-color-darker) !important;
}

.anchorColor, .anchorColor:hover {
  color: var(--primary-color-nonlinear);
}

.anchorUnstyled, .anchorUnstyled:hover {
  color: inherit;
  text-decoration: none;
}

.emptyBtn, .emptyBtn:active, .emptyBtn:focus {
  background: transparent;
  border: 0;
  outline-color: var(--primary-color-lighter);
}
