*{
    font-family: 'Nunito', sans-serif;
}
.bg-primary{
    background-color: var(--primary-color-nonlinear) !important;
    color: white;
}
.btn-primary{
    background-color: var(--primary-color-nonlinear);
    border-radius: 2.5px;
    padding: 6px 20px;
    color: white;
    border-color: transparent;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: var(--primary-color-nonlinear) !important;
    border-color: transparent !important;
    color:white;
    opacity: 0.9;
}
.btn-primary:focus{
    box-shadow: 0 0 0 1.5px var(--primaryDarker-color) !important;
}
.anchorColor, .anchorColor:hover{
    color: var(--primary-color-nonlinear);
}
.anchorUnstyled, .anchorUnstyled:hover{
    text-decoration:none;
}
.emptyBtn, .emptyBtn:active, .emptyBtn:focus{
    outline-color: var(--primary-color-nonlinear);
    border:0;
    background: transparent;
}
.dropdown-item:active{
    background-color: var(--primary-color-nonlinear);
}

.text-danger{
    color:var(--danger-color) !important;
}