
.centerImage{
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: white;

    & > img{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
    }
}